root{
    --dark-primary-color: #7B1FA2;
    --light-primary-color: #E1BEE7;
    --primary-color: #9c27b0;
    --text-icons: #FFFFFF;
    --accent-color: #FFC107;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --heading-font: 'ubuntu', sans-serif;
    --text-font: 'Noto Sans', sans-serif;
}

*{
    box-sizing: border-box;
    overflow: auto
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--text-font);
    background:var(--dark-primary-color);
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
    background-color: var(--text-icons);
    padding: 20px;
}
h3{
    border-bottom: 1px solid var(--divider-color);
}
aside{
    width: 25%;
    float: right;
    margin-left: 10px;
    border: 3px solid var(--accent-color);
    font-size: 14px;
    margin-top: 40px;
}
ul{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--dark-primary-color);
}
h2{
    text-align: center;
}
p{
    padding: 5px;
    color: var(--primary-text);
    font-family: var(--text-font);
    font-size: 1em;
    line-height: 1.3;
}

a{
    text-decoration: none;
    color: var(--dark-primary-color);
}
main{
    margin: 20px 10px;
}
header, footer{
    clear: both;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
}
hr{
    width: 80%;
    border-top: 2px solid var(--dark-primary-color);
}
header{
    background:var(--dark-primary-color);
    color: var(--text-icons)
}
header h1{
    color: var(--text-icons);
    font-size: 3em;
}

a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

ul {
    padding-inline-start: 10px;
}

ul li{
    margin-top:20px;
}

.directions{
    border: 1px solid var(--divider-color);
    border-radius: 20px;
    padding: 10px 15px;
    background:var(--light-primary-color);
}

#opacity img{
    width: 30%;
    margin: 10px auto;
}
/*#image-gallery img{
    width: 30%;
    margin: 10px auto;
} */

#descendant h4, #descendant h5{
    color: red;
    font-weight: bold;
}

#child > h5{
    color: white;
    background: orange;
}

#sibling h4 + h5{
    color: green;
    font-style: italic;
}

.buttons{
    background: blue;
    padding: 5px 10px;
    margin: 15px;
    border: 2px solid blue;
    color: white;
}

.buttons:hover{
    background: yellow;
    color: blue
}
#winston-churchill::first-line{
    color: red;
    font-family:cursive;
    font-weight: bold;
    font-size: large;
    text-shadow: darkgreen;
}

#holly::before{
    content:" before  ";
    color: darkgreen;
}

#holly::after{
    content:"  after  ";
    color: maroon;
}

#opacity img{
    opacity: 0.5;
}

#opacity img:hover{
    opacity: 1.0;
}

#navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background: var(--accent-color);

}

#navigation ul li{
    display:grid;
}

#navigation ul li a{
    text-decoration: none;
    color: blue;
    margin-left: 5px;
    padding: 10px;
}

#navigation ul li a:hover{
    background: var(--dark-primary-color)
}

#image-gallery{
    margin: 5px 1.5%;
    border: 2px solid var(--dark-primary-color);
    float:left;
    width: 30%;
    text-align: center;

}

#image-gallery img{
    width: 90%;
    display: block;
    margin: 10px auto;
}