/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------layout -------------*/



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.8029586834733894) 0%, rgba(72,191,60,0.5088410364145659) 46%, rgba(10,0,255,0.44441526610644255) 95%);
}

h1, h2, h3, h4, h5, h6, hr{
    color: #361A99; 
    padding: 15px;

    
}

aside{
    width: 30%;
    float: right;
    padding: 10px;
}

h1{
    text-align: center;
    text-Shadow: 2px 1px;
}
.accent{
    color: #E6D754;
}

a{
    color: #E6D754;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;

    text-decoration: none;
    margin-left: 20px;
    background-color: #998C15;
    padding: 5px 15px;
    color: gold;
    border-radius: 10px;

}

nav a:hover{
    text-decoration: underline;
    color: rgb(194, 59, 18);
}

a:visited{
    color: #361A99;
}

p{
    color: black;
    line-height: 1.5;
    padding: 15px;
}

.container{
    width: 80%;
    max-width: 1060px;
    margin: 10px auto;
    padding: 10px;
}

/* remove borders when done with page outlay */

header, footer, main, aside, figure, .container{
    border: 2px solid silver;
    min-height: 100px;
    overflow: auto;
    /*box-sizing: border-box;*/
    padding: 5px;
    border-image: url(border.png) 3% round;
    background-color:rgb(218, 196, 167);
}

footer, main {
    clear: both;
}

footer{
    text-align: center;
    padding: 20px;
    color: #7555E6;
}

.left{
    clear: both;
    float: left;
    padding: 20px;
}

.right{
    clear: both;
    float: right;
    padding: 20px
}

.center{
    clear: both;
    float: right;
    margin: 10px;
}

nav{
    text-align: center;
    margin: 10px;

}

img{
    background-color: #998C15;
    padding: 15px;
    margin: 10px;
    width: 30%;
}

