body{
    background-color: floralwhite;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: large;
}

h1, h2, h3{
    color: darkblue;
    font-weight: 700;
    text-align: center;
}

nav{
    text-align: center;
    font-size: x-large;
}
p{
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
ul{
    margin-left: 200px;
}
li{
    margin-left: 200px;
    /* text-align: center; */

}
nav a{
    text-decoration: none;
    margin-left: 20px;
    background-color: darkblue;
    padding: 5px 15px;
    color: gold;
    border-radius: 10px;
    border: 2px solid orange;
}

nav a:hover{
    background-color: gold;
    color: darkblue;

}

main img{
    width: 25%;
    height: auto;
    /*center the image*/
    display:block;
    margin: 10px auto;
}

a{
    color: darkblue;
}

footer{
    text-align: center;
}