body{
    background:rgb(71, 10, 71);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1080px;
    padding: 10px;
    border: 2px solid gold;
    margin: 10px auto;
    background-color: ivory;
    color: rgb(49, 47, 47);
}