/* Set colors for the page */
body{
    background-color: lightblue;
    color: black; /* this is the font color*/
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line */

h1{
    color: green;
    font-family: serif;
    font-size: 50px;
    text-align: center;
}


/* create styles for the h2 tag */
h2{
    color: indigo;
    font-family: serif;
    font-size: 30px;
    text-align: left;
}


/* create styles for the h3 tag */
h3{
    color: darkblue;
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
}


/* create styles for the p tag */

img{
    width: 60%;
    display: block;
    margin: 10px auto; 
    /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}