body{
    background-color: floralwhite;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: large;
}

.container{
   width: 80%;
    background-color: rgb(194, 238, 144);
    margin: 20px auto;
    border: 2px solid orange;
    overflow: auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

h1, h2, h3{
    color: darkblue;
    font-weight: 700;
    text-align: center;
}

nav{
    text-align: center;
    font-size: large;
}

nav a{
    text-decoration: none;
    margin-left: 20px;
    background-color: green;
    padding: 5px 15px;
    color: gold;
    border-radius: 10px;
    border: 2px solid orange;
}

nav a:hover{
    background-color: gold;
    color: green;
}

.article{
    text-align: center;
    font-size: medium;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(194, 238, 144);
    padding: 5px 15px;
    color: darkblue;
    border-radius: 10px;
    border: 2px solid orange;
    width: 80%;
    margin: 20px auto;
}

.british{
    text-align: center;
    font-size: medium;
    text-decoration: none;
    
    background-color: rgb(194, 238, 144);
    padding: 5px 15px;
    color: darkblue;
    border-radius: 10px;
    border: 2px solid orange;
    width: 80%;
    margin: 20px auto;
}
#myHeader {
    background-color: lightblue;
    color: darkblue;
    padding: 5px 15px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    border: 2px solid orange;
    width: 80%;
    margin: 20px auto;
}

p{
    color: darkblue;
    font-size: large;
}
q{
    color: red;
    font-size: large;
}
address{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: darkmagenta;

}

footer{
    font-size: x-small;
    color: darkblue;
}